:root {
    --primary-colour: #90B6AC;
    --secondary-colour: #7CCEF4;
    --accent1-colour: #188B2D;
    --accent2-colour: #98838F;
    --accent3-colour: #035E7B;
}

header{
    background-color: var(--secondary-colour);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid black;
}

header img {
    margin: 2px;
    width: 80px;
    height: auto;
}
.hero nav{
    display: flex;
    flex-direction: column;
    text-decoration: none;
     
       
}

body {
    background-color: var(--primary-colour);
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.hero {
    position: relative;
    display: block;
}

h1 {
    display: inline-block;    
    position: absolute;
    left: 250px;
    top: 5%;
    text-align: center;
    font-family: "Lora", serif;
    font-weight: 600;
    font-size: 3rem;
    color: var(--accent1-colour);
}

img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

div article {
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    align-items: center;
    position: absolute;
    top: 30%;
    opacity: 0.7;
    background-color: var(--secondary-colour);
}

div article img {
    width: 100px;
    height: auto; 
    padding-right: 20px;
    float: right;
    top: 100px;
    opacity: 0.9;
}
p {
    color: black;
    opacity: 0.9;
}
section {
    margin: 0 auto;
    display: flex;

}

h2 {
    position: inherit;
    text-align: center;
    font-family: "Lora", serif;
    font-weight: 600;
    color: var(--accent2-colour);
}

.triple {
    display: flex;
    margin: 0 auto;
}

.triple img {
    width: auto;
    height: auto;
    margin: 5px;
    padding: 20px;

}
section p{
    margin: 5px;
    padding: 40px;
}
section img{
    display: flex;
    flex-direction: column; 
    grid-template-columns: repeat(5, fr);
    align-items: center;
    justify-content: space-around;
}
footer {
    border-top: solid black;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}
footer img {
    width: 30px;
    height: auto;
}