:root {
    --primary-colour: #90B6AC;
    --secondary-colour: #7CCEF4;
    --accent1-colour: #188B2D;
    --accent2-colour: #98838F;
    --accent3-colour: #035E7B;

}
header{
    background-color: var(--secondary-colour);
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    align-items: center;
    border-bottom: 1px solid black;
}
header img {
    margin: 2px;
    width: 80px;
    height: auto;

}
body {
    background-color: var(--primary-colour);
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}

.hero {
    position: relative;
}
h1 {
    display: block;
    top: 10px;
    left: 150px;
    text-align: center;
    position: absolute;
    font-family: "Lora", serif;
    font-weight: 500;
    color: var(--accent1-colour);
}
img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}
article {
    display: block;
    position: absolute;
    top: 100px;
    opacity: 0.7;
    background-color: var(--secondary-colour);
}
article img {
    width: 10px;
    height: auto;
    position: absolute;
    top: 100px;
    opacity: 0.9;
}
p {
    color: black;
    opacity: 0.9;
}
section {
    display: grid;
    grid-template-columns: repeat(5, 1fr)
}
h2 {
    text-align: center;
    font-family: "Lora", serif;
    font-weight: 400;
}
section img{
    display: flex;
    flex-direction: column; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-content: space-around;
}
footer {
    border-top: solid black;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
}
footer img {
    width: 30px;
    height: auto;
}