:root {
    --primary-colour: #90B6AC;
    --secondary-colour: #7CCEF4;
    --accent1-colour: #188B2D;
    --accent2-colour: #98838F;
    --accent3-colour: #035E7B;

}
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}
h1 {
    text-align: center;
    position: absolute;
    font-family: "Lora", serif;
    font-weight: 500;
}
h2 {
    text-align: center;
    font-family: "Lora", serif;
    font-weight: 400;

}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero div {
    position: relative;
}