* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header, footer {
    max-width: 840px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: darkblue;
    padding: 10px;
    box-sizing: border-box;
}
nav a {
    color: white;
    display: block;
    padding: 30px;
    text-decoration: none;
    font-weight: 600;;
}

h1 {
    color: darkblue;
    border-bottom: 10px;
    text-align: center;
}

p {
    padding: 10px;
}
.grid {
    display: grid;
    align-items: center;
}
main {
    grid-column: 2/3;
    margin: 1rem;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}
aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}
aside image {
   /*position: absolute;*/
    /*border: 1px solid black;
    margin: 1rem;
    padding: 1rem;*/
   /* top: 500px;*/
   width: 200px;
   height: auto;
    left: 150px;
    width: 20rem;
    text-align: center;
}
aside h2 {
    position: absolute;
    top: 90px;
    left: 150px;
    color: white;
}
    main img {
    width: 150px;
    height: auto;
    float: right;
    /*position: absolute;*/
}
p {padding: 0;}

footer {
 margin-top: 20px;
 border-top: 1px solid black;
 text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: rgb(229, 244, 249);
    color: black;
}
