* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background-color: darkblue;
    padding: 10px;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}
main {
    max-width: 800px;
}
aside image {
   /*position: absolute;*/
    /*border: 1px solid black;
    margin: 1rem;
    padding: 1rem;*/
   /* top: 500px;*/
   width: 200px;
   height: auto;
    left: 150px;
    width: 20rem;
    text-align: center;
}
aside h2 {
    position: absolute;
    top: 50px;
    left: 150px;
}
    main img {
    width: 200px;
    height: auto;
    float: right;
    /*position: absolute;*/
}
p {padding: 0;}

footer {
 margin-top: 20px;
 border-top: 1px solid black;
 text-align: center;
}
/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid black;
    padding: 1rem;
    background-color: white;
    color: black;
}
